@model VehicleLeasingManager.Models.Supplier

@{
    ViewBag.Title = "Supplier Details";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}

<div class="container mt-5">
    <div class="card shadow-sm border-0">
        <div class="card-header bg-primary text-white">
            <h3 class="mb-0">Supplier Details</h3>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.SupplierName)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.SupplierName)</dd>

                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.ContactInfo)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.ContactInfo)</dd>
            </dl>

            <div class="mt-4">
                @Html.ActionLink("Edit", "Edit", new { id = Model.SupplierId }, new { @class = "btn btn-warning me-2" })
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })
            </div>
        </div>
    </div>
</div>
